@use "@/assets/styles/global.scss" as *;

.controls {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;

    >button {
        @extend %btn-styles;
        padding: 0;
        width: 2rem; // Задаем ширину
        height: auto;
        aspect-ratio: 1 / 1;
        font-size: 1.5rem;
        font-weight: bold;
    }

    >span {
        @include flex-center;
        font-size: 1.7rem;
    }
}