@use "../abstracts/variables" as var;

// @font-face {
//     font-family: "Minecraftia";
//     src: url("../../fonts/minecraftia/Minecraftia-Regular.woff2") format("woff2");
//     font-display: swap;
// }

// @font-face {
//     font-family: "PixelOperatorMono8";
//     src: url("../../fonts/minecraftia/PixelOperatorMono8.ttf") format("truetype");
//     font-display: swap;
// }

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=VT323&display=swap');

body {
    // font-family: "Minecraftia", monospace;
    // font-style: normal;

    // font-family: "PixelOperatorMono8", monospace;
    // font-style: normal;

    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;

    font-size: var.$font-size-default;
    // color: white;
    // background-color: #1a1a1a;
}