@use "@/assets/styles/global.scss" as *;

.menu {
    @include flex-center;
    background-color: $color1;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 100%;

    &-btns {
        @include flex-center;
        flex-direction: column;
        min-width: 200px;
        gap: 1rem;

        .nfts-panel-start {
            @include flex-center;
            flex-direction: column;
            gap: 1rem;
            width: min(100%, 900px);
            height: 100%;
            min-height: 0;
            margin: 0 auto;
            justify-content: center;
            padding: 0.25rem 0.5rem 0.5rem;
            box-sizing: border-box;
        }
    }

    &-btn {
        display: inline-block;
        position: relative;
        width: 100%;
        // height: 5rem;
        button {
            width: 100%;
            // height: 2.5rem;
            // @extend %btn-styles;
        }
    }
}
