@use "@/assets/styles/global.scss" as *;

.hud {
    @extend %panel-styles;
    @include flex-center($jc: space-around);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: $hud-height; //7rem; //12%;
    min-height: 83px;
    border-bottom: $color3 $border-lw solid;

    &-info {
        @include flex-center($jc: space-between);
        flex: 2;
        height: 100%;
        gap: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        font-weight: normal;

        &-episode-score {
            @extend %info-items-styles;
            @include flex-center($ai: start);
            flex-direction: column;
            gap: 0.8rem;
            height: 100%;
            
            span {
                min-width: 30%;
            }
        }

        &-selected-kitties {
            @extend %info-items-styles;
            @include flex-center();
            flex-direction: column;
            height: 100%;

            span {
                min-width: 80%;
                text-align: start;
            }
        }
    }

    &-controls {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: end;
        gap: 1rem;
        padding-right: 1rem;
        --offset-evo-exit: clamp(0.25rem, calc(#{$hud-height} * 0.24), 1.9rem);
        --offset-nft-export: clamp(0.45rem, calc(#{$hud-height} * 0.34), 2.6rem);
        --offset-start-pause: clamp(0.15rem, calc(#{$hud-height} * 0.11), 1rem);
        --offset-manual: clamp(0.55rem, calc(#{$hud-height} * 0.4), 2.8rem);

        &-btn {
            box-sizing: content-box;
            height: 100%;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;

            // button {
            //     @extend %btn-styles;
            //     // height: calc($hud-height * 0.4);
            // }

            &-evo {
                margin-top: var(--offset-evo-exit);
            }
            &-nft {
                margin-top: var(--offset-nft-export);
            }
            &-export {
                margin-top: var(--offset-nft-export);
            }
            &-start {
                margin-top: var(--offset-start-pause);
            }
            &-pause {
                margin-top: var(--offset-start-pause);
            }
            &-manual {
                margin-top: var(--offset-manual);
            }
            &-exit {
                margin-top: var(--offset-evo-exit);
            }
            &-wallet {
                @include flex-center();
                flex-direction: column;
                height: 100%;
            }
        }
    }    
}

@media (max-height: 740px) {
    .hud-controls {
        &-btn {
            button {
                height: 1.8rem;
                min-height: 1.8rem;
                line-height: 1.8rem;
                font-size: 1.1rem;
                padding: 0 0.6rem;
            }
        }
    }
}
  
