@use "@/assets/styles/global.scss" as *;

.donationPanel {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    
    &__title {
        font-size: 2rem;
        font-weight: normal;
        // margin-bottom: 10px;
        color: $color3;
    }
    
    &__description {
        font-size: 1.2rem;
        font-weight: normal;
        // margin-bottom: 20px;
        color: $color3;
    }

    &__address {
        font-size: 1.2rem;
        font-weight: normal;
        // margin-bottom: 20px;
        color: $color3;
    }

    &__input {
        // margin-bottom: 20px;
        padding: 0.2rem;
        border: none;
        background-color: $color1;
        color: $color3;
        font-family: inherit;
        font-size: 20px;
        letter-spacing: 1px;
        caret-color: $color3;
        white-space: pre-wrap;
        pointer-events: auto;
        user-select: text;
        overflow: auto;

        // scrollbar-color: $color3 $color1;

        &:focus {
            outline: none;
            border: none;
            // border: $color3 $border-lw solid;
        }
    }
    
    &__button {
        @extend %btn-styles;
    }
}