@use "@/assets/styles/global.scss" as *;

.spinner {
    margin-top: 1rem;
    width: 40px;
    height: 40px;
    border: $border-lw solid $color2;
    border-top: $border-lw solid $color3;
    border-radius: 50%;
    animation: spin 0.3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  