@use "@/assets/styles/global.scss" as *;

.infoPanel {
    @include flex-center;
    flex-direction: column;
    
    p {
        font-size: 2rem;
        // font-weight: bold;
        margin-bottom: 10px;
        color: $color3;
    }
}