@use "@/assets/styles/global.scss" as *;

.modal {
    @extend %modal-styles;
    @include flex-center;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 60vh;
    min-width: 700px;
  
    &-content {
        @include flex-center;
        // position: absolute;
        width: 85%;
        height: 90%;
        flex-direction: column;
    }
  
    &-close {
        // @extend %btn-styles;
        position: absolute;
        top: 1%;
        right: 1%;
        padding: 0;
        width: 2rem; // Задаем ширину
        height: auto;
        aspect-ratio: 1 / 1;
        font-size: 1.1rem;
    }
}