@use "@/assets/styles/global.scss" as *;

.preload {
    @include flex-center;
    background-color: $color1;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 100%;

    // h1 {
    //     // background-color: rgba($color: #000000, $alpha: 0.0);
    //     font-size: 3rem;
    //     font-weight: 100;
    // }

    .spinner {
        border-color: $color1;
        border-top-color: $color3;
    }
}