.game-container {
    width: 100%;
    height: 100%;
    // flex-grow: 1; // Занимает все оставшееся пространство
    position: relative;
    z-index: 1;
    overflow: hidden;

    canvas {
        position: absolute;
        z-index: 0; // Поместить под меню
        width: 100% !important;
        height: 100% !important;
        display: block; // Убирает возможные лишние отступы
        top: 0;
        left: 0;
    }
}