$font-size-default: 1%;//10px;

$hud-height: 12vh;

$root-padding: 1rem;
$btn-paddingX: 16px;
$btn-paddingY: 8px;

$border-lw: 0.2rem;
$border-r: 5px;

$color0: white;
$color1: #f5f8ce;
$color2: #def79e;
$color3: #849e0e;
$color_caution: #c78202b3;
$color_danger: #b03f31;